<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

    <!-- Google Visualizations -->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

    <title>Is Seattle Hot? Advanced Charting!</title>

    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotatedtimeline']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Temperature');
        data.addRows([
{{ jsData }}
        ]);
        
        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
        chart.draw(data, {displayAnnotations: true});
      }
    </script>


</head>
<body>

    <div id='chart_div' style='width: 700px; height: 240px;'></div>
    
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-8065784-2");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
</body>
</html>
