<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
        <!-- Greybox -->
        <META NAME="Description" CONTENT="Is Seattle Hot? With the latest in internet technology, we can now determine such things.  Check it out.">
        <script type="text/javascript">
            var GB_ROOT_DIR = "http://{{ hostname }}/greybox/";
        </script>
        <script type="text/javascript" src="greybox/AJS.js"></script>
        <script type="text/javascript" src="greybox/gb_scripts.js"></script>
        <link href="greybox/gb_styles.css" rel="stylesheet" type="text/css" />
                
        <!-- isseattlehot styles -->
        <style type="text/css">
        body {
            background-color: black;
            color: white;
            text-align: center;
            }
        #judgement {
            font-size: 100px;
            margin: 150px auto 10px auto;
        }
        #contact {
            margin: 250px auto 10px auto;
            font-size: 14px;
        }
        </style>
        <title>
            {% if pageTitle %} {{ pageTitle }}
            {% else %} Is Seattle Hot?{% endif %}
        </title>
    </head>
<body>
    <div id="judgement" title="{{ judgementMessage }}">
    {{ judgement }}
    </div>
    
    <p id="contact">
        What is this? <a href="/what" title="What is This?" rel="gb_page_center[500, 500]">Find out!</a></br>
        Something wrong? <a href="mailto:adam@isseattlehot.com">email me.</a>
    </p>

<div style="display:none;" id="hiddenImage">
    <img src="/images/screenshot.png">
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8065784-2");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>